.ui.basic.label.profil {
    /*color: white!important;*/
    /*box-shadow: 0 0 0 1px rgba(255,255,255,.9) inset;*/
    /*opacity: 1;*/
}

a:link {color: white;}
a:visited {color: white;}
a:hover {color: white;}
a:active {color: white;}