.header {
    max-height: 150px;
    margin: 20px;
}

.footer {
    max-height: 150px;
    margin: 20px;
    text-align: center;
}

.ui.basic.button.profil {
    color: white!important;
    box-shadow: 0 0 0 1px rgba(255,255,255,.9) inset;
    opacity: 1;
}

i.link.icon.connexion {
    color: white!important;
    opacity: 1;
}
.citation {
    font-size: 12px;
}

.part1 {
    max-height: 150px;
}
.headerOlga {
    background-color: orange;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.headerTitle {
    text-align: center;
    font-size: 32px;
}

.headerCenter {
    text-align: center;
    font-size: 20px;
}

.headerLeft {
    text-align: left;
    font-size: 20px;
}

.headerRight {
    text-align: right;
    font-size: 20px;
    color: white;
}

.plus {
    text-align: center;
}
.memberOlga {
    max-height: 600px;
    width: 50px;
    font-size: 24px;
    padding: 10px;
}

.heading {
    padding: 10px;
}

.bouton {
    width: 100px;
    padding-top: 3px;
}

.ribbonOrange {
    display: inline-block;
}

.lienCategorie:link {
    text-decoration: none;
    color: white;

}

a:link {color: white;}
a:visited {color: white;}
a:hover {color: white;}
a:active {color: white;}