.event {
    min-height: 300px;
}

.buttonSuivant {
    display: inline-block;
}

.fieldRequired {
    color: red;
}

.heightModal {
    height: 300px;
}

.ui.input.valuePeriodicity {
    width: 80px!important;
    height: 20px;
    text-align: right!important;
}

.myTextArea {
    height: 150px!important;
    width: 100%!important;
}

