.event {
    min-height: 300px;
}

.buttonSuivant {
    display: inline-block;
}

.fieldRequired {
    color: red;
}

.heightModal {
    height: 300px;
}

.ui.input.valuePeriodicity {
    width: 80px!important;
    height: 20px;
    text-align: right!important;
}

.myTextArea {
    height: 150px!important;
    width: 100%!important;
}

.datePicker {
    border: 1px solid rgba(34,36,38,.15);
    width: 500px!important;
    border-radius: .28571429rem;
    height: 38px;
    padding: .67857143em 1em;
    color: rgba(0,0,0,.87);
}

/*.ui.grid>.row {
    align-items: center!important;
}*/